//size of advantages
%features-item {
    width: 270px;
    height: 120px;
}

//transition-timing-function
%transitionTF {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

//horizontal alignment
%horAlign {
    margin-left: auto;
    margin-right: auto;
}